#intro {
    height: 100vh;
}

.intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
}

.intro__title {
    font-size : 10vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;
}

.intro__text {
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.intro__text.text {
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: all 0.3s;
    cursor: all-scroll;
}

.intro__text.img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.intro__text:hover.text {
    opacity: 0;
}

.intro__text:hover.img {
    filter: grayscale(0);
}

.intro__lines {
    width: 100%;
}

.intro__lines.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    margin-bottom: 0.5vw;
}

.intro__lines.bottom.line {
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: none;
}

.intro__lines.line:nth-child(1) {
    height: 1px;
}
.intro__lines.line:nth-child(2) {
    height: 2px;
}
.intro__lines.line:nth-child(3) {
    height: 3px;
}
.intro__lines.line:nth-child(4) {
    height: 4px;
}
.intro__lines.line:nth-child(5) {
    height: 5px;
}
.intro__lines.line:nth-child(6) {
    height: 6px;
}
.intro__lines.line:nth-child(7) {
    height: 7px;
}

.intro__lines.bottom.line:nth-child(1) {
    height: 25px;
}
.intro__lines.bottom.line:nth-child(2) {
    height: 17px;
}
.intro__lines.bottom.line:nth-child(3) {
    height: 13px;
}
.intro__lines.bottom.line:nth-child(4) {
    height: 9px;
}
.intro__lines.bottom.line:nth-child(5) {
    height: 5px;
}
.intro__lines.bottom.line:nth-child(6) {
    height: 2px;
}
.intro__lines.bottom.line:nth-child(7) {
    height: 1px;
}

@media (max-width : 800px) {
    .intro__inner {
        justify-content: center;
    }

    .intro__inner.bottom.line {
        display: block;
    }

    .intro__text.text {
        font-size: 24px;
    }
}

@media(max-width : 320px) {
    .intro__title {
        display: none;
    }
}