#port {
    width: 100%;
    margin-top: 30vh;
    overflow: hidden;
}

.port__inner {
    padding: 16px;
}

.port__title {
    width: 100%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 16px;
    text-indent: -0.26vw;
}

.port__title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
}

.port__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 7000px;
}

.port__item {
    width: 500px;
    height: 70vh;
    background-color: var(--subBg100);
    padding: 2.5rem;
    margin-right: 20px;
}

.port__item.p1 {
    background-color: var(--subBg100);
}
.port__item.p2 {
    background-color: var(--subBg200);
}
.port__item.p3 {
    background-color: var(--subBg300);
}
.port__item.p4 {
    background-color: var(--subBg400);
}
.port__item.p5 {
    background-color: var(--subBg500);
}
.port__item.p6 {
    background-color: var(--subBg100);
}
.port__item.p7 {
    background-color: var(--subBg200);
}
.port__item.p8 {
    background-color: var(--subBg300);
}
.port__item.p9 {
    background-color: var(--subBg400);
}
.port__item.p10 {
    background-color: var(--subBg500);
}

.port__item.num {
    font-size: 2rem;
    font-family: var(--mainNum-font);
}

.port__item.img {
    display: block;
    margin-top: -20px;
    transition: margin-top 0.3s;
}

.port__item:hover .img {
    margin-top: 0;
}

.port__item.img img {
    border-radius: 5px;
    filter: saturate(0%);
    transition: all 0.3s;
}

.port__item .img:hover img {
    filter: saturate(100%);
}